<ion-header>
  <ion-navbar>
    <ion-title>
      {{'PAGES.CHOOSE_THEMATICS.TITLE' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <section *ngFor="let catalogue of catalogues">
    <div class="section-title">
      <h2>{{catalogue.label}}</h2>
    </div>
    <swiper>
      <swiper-slide
        *ngFor="let thematic of catalogue.thematics">
        <tile
          [id]="thematic.id"
          [title]="thematic.label"
          [description]="thematic.description"
          [image]="thematic.image"
          (select)="onSelect({event: $event, catalogueId: catalogue.id})"
        ></tile>
      </swiper-slide>
    </swiper>
  </section>
  <button type="button" (click)="next()">{{'COMMON.NEXT' | translate}}</button>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>Uninov - Copyright@2018 all rights reserved</ion-col>
  </ion-row>
</ion-footer>

