page-choose-thematics {
  $width: 200px;
  $height: 50px;
  $swiperHeight: 210px;
  section {
    position: relative;
    padding: map-get($gutters, 'sm') 0;
    display: flex;
    flex-flow: row;
    overflow: hidden;

    .section-title {
      position: relative;
      height: $width;
      width: $height;

      h2 {
        display: block;
        position: absolute;
        margin: 0;
        transform: rotate(-90deg);
        width: $width;
        height: $height;
        left: -$width /2 + $height/2;
        top: $swiperHeight/2 - $height/2 +3px;
        text-align: center;
        background-color: map-get($customColors, 'CER_BLACK');
        color: white
      }
    }


    swiper {
      display: block;
      width: calc(100% - 50px);
      .swiper-container {
        height: $swiperHeight;
      }
    }

    .tile {
      position: relative;
    }
  }
}
