service-provision {
  .tasks-wrapper {
    .tasks-header {
      padding: map-get($gutters, 'xs') 0;

      > div {
        display: flex;
        flex-flow: row;
        align-items: center;
        padding: map-get($gutters, 'xs') 0;

        button {
          margin-left: map-get($gutters, 'xs');
        }
      }
    }

    ul {
      li {}
    }
  }
}
