.accordion-item {
  > .header {
    cursor: pointer;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    &::after {
      content: '';
      display: block;
      height: 0;
      width: 0;
      border: map-get($gutters, 'sm') solid transparent;
      border-bottom-color: map-get($customColors, 'CER_ORANGE_LIGHT');
      transform: rotate(180deg);
      transition: transform .5s;
    }
  }

  .content-wrapper {
    overflow: hidden;
    background-color: transparent;
    .content {
      padding: 0 map-get($gutters, 'sm');
    }
  }

  &.active {
    > .header {
      &::after {
        transform: rotate(0deg);
      }
    }
    .content-wrapper {
      background-color: transparentize(map-get($customColors, 'CER_ORANGE_LIGHT'), .7);
    }
  }
}
