<div class="sales-lead">
  <form *ngIf="!this.client; else client" (submit)="searchSalesLead()">
    <div class="form-field">
      <label for="sales-lead-search">{{'SALES_LEAD.SEARCH.LABEL' | translate}}</label>
      <input id="sales-lead-search" [(ngModel)]="search"/>
    </div>
    <button type="submit">{{'COMMON.SEARCH' | translate}}</button>
  </form>
  <ng-template #client>
    <div class="client-information">
      <button class="toggle-mode" [ngClass]="readOnly ? 'read-mode' : 'edit-mode'" type="button" (click)="toggleMode()">
        <span *ngIf="readOnly; else editLabel">DISPLAY</span>
        <ng-template #editLabel>
          <span>EDIT</span>
        </ng-template>
      </button>
      <form  *ngIf="!readOnly; else readOnlyTemplate" (submit)="searchSalesLead()">
        <div class="form-field">
          <label for="corporate-name">{{'SALES_LEAD.CORPORATE_NAME' | translate}}</label>
          <input id="corporate-name" name="corporate-name" [(ngModel)]="data.client.corporateName"/>
        </div>
        <div class="form-field">
          <label for="address">{{'SALES_LEAD.ADDRESS' | translate}}</label>
          <input id="address" name="address" [(ngModel)]="data.client.address"/>
        </div>
        <div class="form-field">
          <label for="job">{{'SALES_LEAD.JOB' | translate}}</label>
          <input id="job" name="job" [(ngModel)]="data.client.job"/>
        </div>
        <div class="form-field">
          <label for="core-business">{{'SALES_LEAD.CORE_BUSINESS' | translate}}</label>
          <input id="core-business" name="core-business" [(ngModel)]="data.client.coreBusiness"/>
        </div>
        <div class="form-field">
          <label for="side-business">{{'SALES_LEAD.SIDE_BUSINESS' | translate}}</label>
          <input id="side-business" name="side-business" [(ngModel)]="data.client.sideBusiness"/>
        </div>
        <div class="form-field">
          <label for="volumes">{{'SALES_LEAD.VOLUMES' | translate}}</label>
          <input id="volumes" name="volumes" [(ngModel)]="data.client.volumes"/>
        </div>
        <div class="form-field">
          <label for="domain">{{'SALES_LEAD.DOMAIN' | translate}}</label>
          <select id="domain" name="domain" [(ngModel)]="data.client.domain">
            <option *ngFor="let option of domainOptions" [value]="option.value">{{option.value | translate}}</option>
          </select>
        </div>
        <button type="submit" (click)="saveClient()">{{'COMMON.SAVE' | translate}}</button>
      </form>

      <ng-template #readOnlyTemplate>
        <div class="form-field">
          <span class="label">{{'SALES_LEAD.CORPORATE_NAME' | translate}}</span>
          <span class="value">{{data.client.corporateName}}</span>
        </div>
        <div class="form-field">
          <span class="label">{{'SALES_LEAD.ADDRESS' | translate}}</span>
          <span class="value">{{data.client.address}}</span>
        </div>
        <div class="form-field">
          <span class="label">{{'SALES_LEAD.JOB' | translate}}</span>
          <span class="value">{{data.client.job}}</span>
        </div>
        <div class="form-field">
          <span class="label">{{'SALES_LEAD.CORE_BUSINESS' | translate}}</span>
          <span class="value">{{data.client.coreBusiness}}</span>
        </div>
        <div class="form-field">
          <span class="label">{{'SALES_LEAD.SIDE_BUSINESS' | translate}}</span>
          <span class="value">{{data.client.sideBusiness}}</span>
        </div>
        <div class="form-field">
          <span class="label">{{'SALES_LEAD.VOLUMES' | translate}}</span>
          <span class="value">{{data.client.volumes}}</span>
        </div>
        <div class="form-field">
          <span class="label">{{'SALES_LEAD.DOMAIN' | translate}}</span>
          <span class="value">{{data.client.domain}}</span>
        </div>
      </ng-template>
    </div>
  </ng-template>
</div>
