<div class="sales-lead">
  <form (submit)="searchSalesLead()">

    <ion-item>
      <ion-label color="secondary">{{'COMPONENTS.SALES_LEAD.SEARCH' | translate}}</ion-label>
      <ion-input type="text" name="sales-lead-search" [(ngModel)]="search"></ion-input>
    </ion-item>
    <div class="button-wrapper">
      <button ion-button type="submit">{{'COMMON.SEARCH' | translate}}</button>
    </div>
  </form>
  <div class="client-information">
    <div class="button-wrapper">
      <button ion-button class="toggle-mode" [ngClass]="readOnly ? 'read-mode' : 'edit-mode'" type="button" (click)="toggleMode()">
        <ion-icon *ngIf="readOnly; else editLabel" name="build"></ion-icon>
        <ng-template #editLabel>
          <ion-icon ios="ios-eye" md="md-eye"></ion-icon>
        </ng-template>
      </button>
    </div>

    <form  *ngIf="!readOnly; else readOnlyTemplate" (submit)="saveClient()">
      <ion-item>
        <ion-label color="secondary">{{'COMPONENTS.SALES_LEAD.CORPORATE_NAME' | translate}}</ion-label>
        <ion-input type="text" name="corporate-name" [(ngModel)]="client.corporateName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="secondary">{{'COMPONENTS.SALES_LEAD.ADDRESS' | translate}}</ion-label>
        <ion-input type="text" name="address" [(ngModel)]="client.address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'COMPONENTS.SALES_LEAD.DOMAIN' | translate}}</ion-label>
        <ion-select color="secondary" name="domain" [(ngModel)]="client.domain">
          <ion-option *ngFor="let option of domainOptions" [value]="option.value">{{option.value | translate}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="secondary">{{'COMPONENTS.SALES_LEAD.JOB' | translate}}</ion-label>
        <ion-input type="text" name="job" [(ngModel)]="client.job"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="secondary">{{'COMPONENTS.SALES_LEAD.CORE_BUSINESS' | translate}}</ion-label>
        <ion-input type="text" name="core-business" [(ngModel)]="client.coreBusiness"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="secondary">{{'COMPONENTS.SALES_LEAD.SIDE_BUSINESS' | translate}}</ion-label>
        <ion-input type="text" name="side-business" [(ngModel)]="client.sideBusiness"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="secondary">{{'COMPONENTS.SALES_LEAD.N_EMPLOYEE' | translate}}</ion-label>
        <ion-input type="text" name="n-employee" [(ngModel)]="client.nEmployee"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="secondary">{{'COMPONENTS.SALES_LEAD.VOLUMES' | translate}}</ion-label>
        <ion-input type="text" name="volumes" [(ngModel)]="client.volumes"></ion-input>
      </ion-item>
      <div class="button-wrapper">
        <button ion-button type="submit">{{'COMMON.SAVE' | translate}}</button>
      </div>
    </form>

    <ng-template #readOnlyTemplate>
      <div class="form-field">
        <span class="label">{{'COMPONENTS.SALES_LEAD.CORPORATE_NAME' | translate}}</span>
        <span class="value">{{client.corporateName}}</span>
      </div>
      <div class="form-field">
        <span class="label">{{'COMPONENTS.SALES_LEAD.ADDRESS' | translate}}</span>
        <span class="value">{{client.address}}</span>
      </div>
      <div class="form-field">
        <span class="label">{{'COMPONENTS.SALES_LEAD.DOMAIN' | translate}}</span>
        <span class="value">{{client.domain}}</span>
      </div>
      <div class="form-field">
        <span class="label">{{'COMPONENTS.SALES_LEAD.JOB' | translate}}</span>
        <span class="value">{{client.job}}</span>
      </div>
      <div class="form-field">
        <span class="label">{{'COMPONENTS.SALES_LEAD.CORE_BUSINESS' | translate}}</span>
        <span class="value">{{client.coreBusiness}}</span>
      </div>
      <div class="form-field">
        <span class="label">{{'COMPONENTS.SALES_LEAD.SIDE_BUSINESS' | translate}}</span>
        <span class="value">{{client.sideBusiness}}</span>
      </div>
      <div class="form-field">
        <span class="label">{{'COMPONENTS.SALES_LEAD.N_EMPLOYEE' | translate}}</span>
        <span class="value">{{client.nEmployee}}</span>
      </div>
      <div class="form-field">
        <span class="label">{{'COMPONENTS.SALES_LEAD.VOLUMES' | translate}}</span>
        <span class="value">{{client.volumes}}</span>
      </div>
    </ng-template>
  </div>
</div>
