sales-lead {
  .item-md {
    padding-left: 0;
  }

  .form-field {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: map-get($gutters, 'sm') 0;
    border-bottom: 1px solid map-get($customColors, 'CER_ORANGE_LIGHT');

    .label {

    }
    .value {

    }
  }

  .client-information {
    > .button-wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }
}
