<ion-header>
  <ion-navbar>
    <ion-title>
      {{'PAGES.CHOOSE_SERVICE_PROVISIONS.TITLE' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-tabs #myTabs *ngIf="catalogueWithServiceProvisions" selectedIndex="0" tabsPlacement="top">
    <ion-tab
      *ngFor="let catalogue of catalogueWithServiceProvisions"
      [tabTitle]="catalogue.label"
      [root]="tab"
      [rootParams]="catalogue"
    >
    </ion-tab>
  </ion-tabs>
</ion-content>


<ion-footer>
  <div><strong>Uninov</strong> - {{'COMMON.COPYRIGHT' | translate}}</div>
  <button ion-button type="button" (click)="end()">{{'COMMON.END' | translate}}<ion-icon ios="ios-alert" md="md-alert"></ion-icon></button>
</ion-footer>
