<section>
  <div class="section-title">
    <h2>toto</h2>
  </div>
  <ul>
    <!--<li *ngFor="let serviceProvision of catalogue.serviceProvisions">-->
      <!--<div><strong>{{serviceProvision.label}}</strong></div>-->
      <!--<div>-->
        <!--<p>-->
          <!--id: {{serviceProvision.id}}<br/>-->
          <!--code: {{serviceProvision.id}}<br/>-->
          <!--label: {{serviceProvision.id}}<br/>-->
          <!--serviceProvisions: {{serviceProvisions.length}}-->
        <!--</p>-->
      <!--</div>-->
    <!--</li>-->
    <li>toto</li>
    <li>toto</li>
    <li>toto</li>
    <li>toto</li>
    <li>toto</li>
    <li>toto</li>
    <li>toto</li>
    <li>toto</li>
    <li>toto</li>
    <li>toto</li>
  </ul>
  <button ion-button type="button">{{'COMMON.NEXT' | translate}}</button>
</section>
