<div class="tasks-wrapper">
  <div class="tasks-header">
    <strong>{{serviceProvision.tasks && serviceProvision.tasks.length ? serviceProvision.tasks.length : 0}} {{'COMMON.RELATED_TASKS' | translate}}</strong>
    <div>
      <span>{{'COMPONENTS.TASKS.ADD_TASK_TITLE' | translate}}</span>
      <button ion-button type="button" (click)="addTask()">{{'COMMON.ADD' | translate}}</button>
    </div>
  </div>
  <div class="tasks-content" *ngIf="serviceProvision.tasks && serviceProvision.tasks.length">
    <ul>
      <li *ngFor="let task of serviceProvision.tasks">
        <nested-task [task]="task"></nested-task>
      </li>
    </ul>
  </div>
</div>

<accordion *ngIf="serviceProvision.serviceProvisions && serviceProvision.serviceProvisions.length" [uid]="catalogueId + '-' + serviceProvision.id">
  <accordion-item *ngFor="let spChild of serviceProvision.serviceProvisions">
    <div header><strong>{{spChild.label}}</strong></div>
    <div content>
      <div class="tasks-wrapper">
        <div class="tasks-header">
          <strong>{{spChild.tasks && spChild.tasks.length ? spChild.tasks.length : 0}} {{'COMMON.RELATED_TASKS' | translate}}</strong>
          <div>
            <span>{{'COMPONENTS.TASKS.ADD_TASK_TITLE' | translate}}</span>
            <button ion-button type="button" (click)="addTask()">{{'COMMON.ADD' | translate}}</button>
          </div>
        </div>
        <div class="tasks-content" *ngIf="spChild.tasks && spChild.tasks.length">
          <ul>
            <li *ngFor="let task of spChild.tasks">
              <nested-task [task]="task"></nested-task>
            </li>
          </ul>
        </div>
      </div>
      <accordion *ngIf="spChild.serviceProvisions && spChild.serviceProvisions.length" [uid]="catalogueId + '-' +serviceProvision.id+ '-' +spSecondChild.id">
        <accordion-item *ngFor="let spSecondChild of spChild.serviceProvisions">
          <div header><strong>{{spSecondChild.label}}</strong></div>
          <div content>
            <div class="tasks-wrapper">
              <div class="tasks-header">
                <strong>{{spSecondChild.tasks && spSecondChild.tasks.length ? spSecondChild.tasks.length : 0}} {{'COMMON.RELATED_TASKS' | translate}}</strong>
                <div>
                  <span>{{'COMPONENTS.TASKS.ADD_TASK_TITLE' | translate}}</span>
                  <button ion-button type="button" (click)="addTask()">{{'COMMON.ADD' | translate}}</button>
                </div>
              </div>
              <div class="tasks-content" *ngIf="spSecondChild.tasks && spSecondChild.tasks.length">
                <ul>
                  <li *ngFor="let task of spSecondChild.tasks">
                    <nested-task [task]="task"></nested-task>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </accordion-item>
      </accordion>
    </div>
  </accordion-item>
</accordion>
