<task-manager [tasks]="serviceProvision.tasks"></task-manager>

<accordion *ngIf="serviceProvision.serviceProvisions && serviceProvision.serviceProvisions.length" [uid]="catalogueId + '-' + serviceProvision.id">
  <accordion-item *ngFor="let spChild of serviceProvision.serviceProvisions">
    <div header >
      <strong
        [ngClass]="spChild.selected ? 'sp-label selected' : 'sp-label'"
      >
        <ion-icon *ngIf="spChild.selected" name="checkmark-circle-outline"></ion-icon>
        {{spChild.label}}
      </strong>
      <strong *ngIf="spChild.price" class="price"> - {{spChild.price}}</strong>
    </div>
    <div content>
      <task-manager [tasks]="spChild.tasks"></task-manager>

      <accordion *ngIf="spChild.serviceProvisions && spChild.serviceProvisions.length" [uid]="catalogueId + '-' +serviceProvision.id+ '-' +spSecondChild.id">
        <accordion-item *ngFor="let spSecondChild of spChild.serviceProvisions">
          <div header >
            <strong
              [ngClass]="spSecondChild.selected ? 'sp-label selected' : 'sp-label'"
            >
              <ion-icon *ngIf="spSecondChild.selected" name="checkmark-circle-outline"></ion-icon>
              {{spSecondChild.label}}
            </strong>
            <strong *ngIf="spSecondChild.price" class="price"> - {{spSecondChild.price}}</strong>
          </div>
          <div content>
            <task-manager [tasks]="spSecondChild.tasks"></task-manager>
          </div>
        </accordion-item>
      </accordion>
    </div>
  </accordion-item>
</accordion>
