<ion-content>
  <div class="section-title">
    <h2>{{catalogue.label}} - {{'PAGES.CHOOSE_SERVICE_PROVISIONS.CHOICES' | translate}}</h2>
  </div>
  <accordion
    *ngIf="catalogue.serviceProvisions && catalogue.serviceProvisions.length"
    [uid]="catalogue.id"
  >
    <accordion-item *ngFor="let serviceProvision of catalogue.serviceProvisions">
      <div header >
        <strong
          [ngClass]="serviceProvision.selected ? 'sp-label selected' : 'sp-label'"
          (click)="updateServiceProvision({event: $event, serviceProvision: serviceProvision})"
        >
          <ion-icon *ngIf="serviceProvision.selected" name="checkmark-circle-outline"></ion-icon>
          {{serviceProvision.label}}
          <span *ngIf="serviceProvision.price" class="price"> - {{serviceProvision.price}}{{'COMMON.CURRENCY' | translate}}</span>
        </strong>
      </div>
      <div content>
        <service-provision [serviceProvision]="serviceProvision" [catalogueId]="catalogue.id"></service-provision>
      </div>
    </accordion-item>
  </accordion>
</ion-content>
